
:host,
.email-detail-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  width: 100%;
  min-height: 40px;
  background: #3f51b5;
}

.subject {
  align-self: center;
  text-align: center;
  color: #fff;
  width: 100%;
  font-weight: bold;
  overflow: hidden;
  padding: 2px 7px;
}

.email-date {
  margin: 7px;
  color: #777;
  font-size: 13px;
}

.fromwhom,
.towhom,
.towhomcopy,
.blindcopy {
  display: flex;
  margin: 7px 7px 0 7px;
}

.fromwhom-title-label,
.towhom-title-label,
.towhomcopy-title-label,
.blindcopy-title-label {
  min-width: 60px;
  font-weight: bold;
}

.fromwhom-email,
.towhom-email,
.towhomcopy-email,
.blindcopy-email {
  margin-left: 10px;
}

.body {
  padding: 7px;
  white-space: pre-wrap;
}

.divider {
  border-bottom: 1px solid #ddd;
  height: 1px;
  margin: 15px 7px 10px 7px;
}

.address-section {
}

.content-section {
  overflow: auto;
  flex-shrink: 50;
}

.show-more-button {
  display: flex;
  padding-left: 7px;
  user-select: none;
}

.show-more-button:hover .show-more-button-label {
  color: #3f51b5;
}

.show-more-button-label {
  font-weight: bold;
  padding: 0 7px;
  width: 170px;
  cursor: pointer;
  text-decoration: underline;
}

.show-more-button-icon {
  background: url('../../../assets/img/arrow-close.png') no-repeat center center;
  width: 16px;
  height: 20px;
}

.show-more-button-icon.opened {
  background: url('../../../assets/img/arrow-open.png') no-repeat center center;
}

.link-email {
  padding: 0 7px 5px 0;
  border-bottom: 1px solid #ccc;
  margin: 0 7px;
}
